# Assignment using pandas libraries

In [2]:
# import libraries
import seaborn as sns
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# loading data
pak_data = pd.read_csv('pakistan_dom_prod.csv')
pak_data.head(10)

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,FS,Suite of Food Security Indicators,165,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2000,2000,I$,3245.4,X,International reliable sources,NaN
1,FS,Suite of Food Security Indicators,165,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2001,2001,I$,3277.1,X,International reliable sources,NaN
2,FS,Suite of Food Security Indicators,165,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2002,2002,I$,3279.0,X,International reliable sources,NaN
3,FS,Suite of Food Security Indicators,165,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2003,2003,I$,3388.2,X,International reliable sources,NaN
4,FS,Suite of Food Security Indicators,165,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2004,2004,I$,3560.8,X,International reliable sources,NaN
5,FS,Suite of Food Security Indicators,165,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2005,2005,I$,3706.8,X,International reliable sources,NaN
6,FS,Suite of Food Security Indicators,165,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2006,2006,I$,3836.5,X,International reliable sources,NaN
7,FS,Suite of Food Security Indicators,165,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2007,2007,I$,3931.2,X,International reliable sources,NaN
8,FS,Suite of Food Security Indicators,165,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2008,2008,I$,3908.6,X,International reliable sources,NaN
9,FS,Suite of Food Security Indicators,165,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2009,2009,I$,3930.5,X,International reliable sources,NaN

In [5]:
# remonign some columns
new_pak = pak_data.drop(['Area Code', 'Year'], axis=1)
new_pak

,Domain Code,Domain,Area,Element Code,Element,Item Code,Item,Year Code,Unit,Value,Flag,Flag Description,Note
0,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2000,I$,3245.4,X,International reliable sources,NaN
1,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2001,I$,3277.1,X,International reliable sources,NaN
2,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2002,I$,3279.0,X,International reliable sources,NaN
3,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2003,I$,3388.2,X,International reliable sources,NaN
4,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2004,I$,3560.8,X,International reliable sources,NaN
5,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2005,I$,3706.8,X,International reliable sources,NaN
6,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2006,I$,3836.5,X,International reliable sources,NaN
7,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2007,I$,3931.2,X,International reliable sources,NaN
8,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2008,I$,3908.6,X,International reliable sources,NaN
9,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2009,I$,3930.5,X,International reliable sources,NaN
10,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2010,I$,3906.9,X,International reliable sources,NaN
11,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2011,I$,3928.5,X,International reliable sources,NaN
12,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2012,I$,3980.7,X,International reliable sources,NaN
13,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2013,I$,4069.3,X,International reliable sources,NaN
14,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2014,I$,4171.3,X,International reliable sources,NaN
15,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2015,I$,4278.3,X,International reliable sources,NaN
16,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2016,I$,4421.6,X,International reliable sources,NaN
17,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2017,I$,4571.2,X,International reliable sources,NaN
18,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2018,I$,4739.5,X,International reliable sources,NaN
19,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2019,I$,4690.5,X,International reliable sources,NaN
20,FS,Suite of Food Security Indicators,Pakistan,6126,Value,22013,"Gross domestic product per capita, PPP, dissem...",2020,I$,4622.8,X,International reliable sources,NaN

In [6]:
# basic statitic or summary
pak_data.describe()

,Area Code,Element Code,Item Code,Year Code,Year,Value,Note
count,21.0,21.0,21.0,21.000000,21.000000,21.000000,0.0
mean,165.0,6126.0,22013.0,2010.000000,2010.000000,3973.557143,NaN
std,0.0,0.0,0.0,6.204837,6.204837,465.632400,NaN
min,165.0,6126.0,22013.0,2000.000000,2000.000000,3245.400000,NaN
25%,165.0,6126.0,22013.0,2005.000000,2005.000000,3706.800000,NaN
50%,165.0,6126.0,22013.0,2010.000000,2010.000000,3930.500000,NaN
75%,165.0,6126.0,22013.0,2015.000000,2015.000000,4278.300000,NaN
max,165.0,6126.0,22013.0,2020.000000,2020.000000,4739.500000,NaN

In [7]:
# finding mean
pak_data.mean()

C:\Users\DK\AppData\Local\Temp/ipykernel_4868/2323232040.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pak_data.mean()

Area Code         165.000000
Element Code     6126.000000
Item Code       22013.000000
Year Code        2010.000000
Year             2010.000000
Value            3973.557143
Note                     NaN
dtype: float64

In [8]:
pak_data.groupby(['Value']).mean()

        Area Code  Element Code  Item Code  Year Code    Year  Note
Value
3245.4      165.0        6126.0    22013.0     2000.0  2000.0   NaN
3277.1      165.0        6126.0    22013.0     2001.0  2001.0   NaN
3279.0      165.0        6126.0    22013.0     2002.0  2002.0   NaN
3388.2      165.0        6126.0    22013.0     2003.0  2003.0   NaN
3560.8      165.0        6126.0    22013.0     2004.0  2004.0   NaN
3706.8      165.0        6126.0    22013.0     2005.0  2005.0   NaN
3836.5      165.0        6126.0    22013.0     2006.0  2006.0   NaN
3906.9      165.0        6126.0    22013.0     2010.0  2010.0   NaN
3908.6      165.0        6126.0    22013.0     2008.0  2008.0   NaN
3928.5      165.0        6126.0    22013.0     2011.0  2011.0   NaN
3930.5      165.0        6126.0    22013.0     2009.0  2009.0   NaN
3931.2      165.0        6126.0    22013.0     2007.0  2007.0   NaN
3980.7      165.0        6126.0    22013.0     2012.0  2012.0   NaN
4069.3      165.0        6126.0    22013.0     2013.0  2013.0   NaN
4171.3      165.0        6126.0    22013.0     2014.0  2014.0   NaN
4278.3      165.0        6126.0    22013.0     2015.0  2015.0   NaN
4421.6      165.0        6126.0    22013.0     2016.0  2016.0   NaN
4571.2      165.0        6126.0    22013.0     2017.0  2017.0   NaN
4622.8      165.0        6126.0    22013.0     2020.0  2020.0   NaN
4690.5      165.0        6126.0    22013.0     2019.0  2019.0   NaN
4739.5      165.0        6126.0    22013.0     2018.0  2018.0   NaN

In [9]:
pak_data.groupby(['Value', 'Year']).mean()

             Area Code  Element Code  Item Code  Year Code  Note
Value  Year
3245.4 2000      165.0        6126.0    22013.0     2000.0   NaN
3277.1 2001      165.0        6126.0    22013.0     2001.0   NaN
3279.0 2002      165.0        6126.0    22013.0     2002.0   NaN
3388.2 2003      165.0        6126.0    22013.0     2003.0   NaN
3560.8 2004      165.0        6126.0    22013.0     2004.0   NaN
3706.8 2005      165.0        6126.0    22013.0     2005.0   NaN
3836.5 2006      165.0        6126.0    22013.0     2006.0   NaN
3906.9 2010      165.0        6126.0    22013.0     2010.0   NaN
3908.6 2008      165.0        6126.0    22013.0     2008.0   NaN
3928.5 2011      165.0        6126.0    22013.0     2011.0   NaN
3930.5 2009      165.0        6126.0    22013.0     2009.0   NaN
3931.2 2007      165.0        6126.0    22013.0     2007.0   NaN
3980.7 2012      165.0        6126.0    22013.0     2012.0   NaN
4069.3 2013      165.0        6126.0    22013.0     2013.0   NaN
4171.3 2014      165.0        6126.0    22013.0     2014.0   NaN
4278.3 2015      165.0        6126.0    22013.0     2015.0   NaN
4421.6 2016      165.0        6126.0    22013.0     2016.0   NaN
4571.2 2017      165.0        6126.0    22013.0     2017.0   NaN
4622.8 2020      165.0        6126.0    22013.0     2020.0   NaN
4690.5 2019      165.0        6126.0    22013.0     2019.0   NaN
4739.5 2018      165.0        6126.0    22013.0     2018.0   NaN

In [10]:
#finding data by specific column value
pak_data[pak_data['Value'] > 3500].mean()

C:\Users\DK\AppData\Local\Temp/ipykernel_4868/4268996653.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pak_data[pak_data['Value'] > 3500].mean()

Area Code         165.000000
Element Code     6126.000000
Item Code       22013.000000
Year Code        2012.000000
Year             2012.000000
Value            4132.647059
Note                     NaN
dtype: float64