# DAY-3: DATA STRUCTURE
- Four Types:\
    _List_\
    _Tuple_\
    _Dictionary_\
    _Sets_

## 1- List
List items are ordered, changeable, and allow duplicate values.

In [2]:
List = ['pakora','samosa','biryani', 'dahi balay']

List index() : The index() method returns the index of the specified element in the list.

List append() : The append() method adds an item to the end of the list.

List extend() : The extend() method adds all the elements of an iterable (list, tuple, string etc.) to the end of the list.

List insert() : The insert() method inserts an element to the list at the specified index.

List remove() : The remove() method removes the first matching element (which is passed as an argument) from the list.

List count() : The count() method returns the number of times the specified element appears in the list.

List pop() : The pop() method removes the item at the given index from the list and returns the removed item.

List reverse() : The pop() method removes the item at the given index from the list and returns the removed item.

List sort() : The sort() method sorts the elements of a given list in a specific ascending or descending order.

List copy() : The copy() method returns a shallow copy of the list.

List clear() : The clear() method removes all items from the list.

In [5]:
List.append(6)
List

['pakora', 'samosa', 'biryani', 'dahi balay', 6, 6]

In [10]:
List.remove('samosa')
List

['pakora', 'dahi balay', 6, 6]

## 2-Tuples:
- Tuples are used to store multiple items in a single variable.
- A tuple is a collection which is ordered and unchangeable.
- Tuples are written with round brackets.
- Tuple items can be of any data type:
    - string
    - boolean
    - integer

In [3]:
tuple = ('biryani','chawal', 'kalool')

## 3-Dictionary
- An unordered collection of material
- Key (samosa) and value (30)
- Curly braces or braket {}
- Mutaeble/ or change the values

In [4]:
#Food and their prices
food1 = {"samosa":30, "pakora":60, "raita":20, "salad":10, "chicken roll":30}
food1

{'samosa': 30, 'pakora': 60, 'raita': 20, 'salad': 10, 'chicken roll': 30}

In [5]:
type(food1)

dict

In [7]:
# extract data
keys1 = food1.keys()
keys1

dict_keys(['samosa', 'pakora', 'raita', 'salad', 'chicken roll'])

In [8]:
values1= food1.values()
values1

dict_values([30, 60, 20, 10, 30])

In [9]:
# adding new elements
food1["TIKKI"]=10
food1

{'samosa': 30,
 'pakora': 60,
 'raita': 20,
 'salad': 10,
 'chicken roll': 30,
 'TIKKI': 10}

In [10]:
# update the values
food1["TIKKI"]=13
food1

{'samosa': 30,
 'pakora': 60,
 'raita': 20,
 'salad': 10,
 'chicken roll': 30,
 'TIKKI': 13}

In [11]:
food2={"chai":30, "dates":50, "chawal":150, "golgapay":500}
food2

{'chai': 30, 'dates': 50, 'chawal': 150, 'golgapay': 500}

In [14]:
# concatenate in dictionary
food1.update(food2)
food1

{'samosa': 30,
 'pakora': 60,
 'raita': 20,
 'salad': 10,
 'chicken roll': 30,
 'TIKKI': 13,
 'chai': 30,
 'dates': 50,
 'chawal': 150,
 'golgapay': 500}

# 4-Sets
- Unordered and Unindexed
- Use with Curly braces {}
- No dublicates allowed
- No Boolean

In [17]:
s1 = {1, -2, "daud", "peshawar", 5.2, True}
s1

{-2, 1, 5.2, 'daud', 'peshawar'}

In [21]:
s1.add("khan")
s1

{-2, 1, 5.2, 'daud', 'khan', 'peshawar'}